<h1>Other Sites</h1>

<div class="row">
	<div class="span2 well">
		<%=  link_to "ERCubed.com", "http://www.ercubed.com/" %>
	</div>
	<div class="span2 well">
		<%=  link_to "Copper Lamp", "http://www.copperlamp.com/" %>
	</div>
	
</div>

